#skroutz_image_select_link
{
	width:100%;
	float: left;
	text-align: center;
	margin:auto;
	cursor: pointer;
}
#skroutz_image_select_link_variation
{
	width:100%;
	float: left;
	text-align: center;
	margin:auto;
	cursor: pointer;
}
#skroutz_remove_thumbnail
{
	width:100%;
	float: left;
	text-align: center;
	margin:auto;
	cursor: pointer;
}

 a[id*='skroutz_image_select_link']{
 	width:100%;
	float: left;
	text-align: center;
	margin:auto;
	cursor: pointer;
}
 a[id*='skroutz_image_select_link_variation']{
 	width:100%;
	float: left;
	text-align: center;
	margin:auto;
	cursor: pointer;
}
 a[id*='skroutz_remove_thumbnail']{

	width:100%;
	float: left;
	text-align: center;
	margin:auto;
	cursor: pointer;
}
.skroutz_variation_alternate_image_wrapper
{
	float: left;
width: 100%;
margin: auto;
text-align: left;
}
